// Start from scratch
* {
	all: unset;
}

.background {
	all: unset;
	background-color:	#1c1e26;
	color: #1c1e26;
	padding: 10px;
	opacity: 0.97;
}

.main_box{
	all: unset;
	//background-color: #1c1e26;
	color: #d3d4de;
	font-size: 18px;
	font-weight: bold;
}

.music_player_bar {
	all: unset;
	background-color: #1c1e26;
}

.music_player_bar scale trough{
	all: unset;
	background-color: #d2d4de;
	min-width: 200px;
	min-height: 20px;
	margin: 5px 20px 5px 20px;
	border-radius: 9px;
}

.music_player_bar scale trough highlight {
	all: unset;
	border-radius: 8px;
	background-color: #6bdfe6;
	opacity: 1;
}

.music_player_buttons button {
	all: unset;
	background-color: #27d796;
	min-width: 50px;
	min-height: 50px;	
	border-radius: 8px;
}

.music_player_buttons button:hover {
	background-color: #09f7a0;
}
