// Start from scratch
* {
	all: unset;
}

.background {
	all: unset;
	background-color:	#1c1e26;
	color: #1c1e26;
	padding: 10px;
	opacity: 0.97;
}

.album_cover {
	all: unset;
	margin:  0px 0px 0px -30px;
}

.main_box{
	all: unset;
	//background-color: #1c1e26;
	color: #d3d4de;
	min-width: 350px;
	font-size: 18px;
	font-weight: bold;
	margin: 0px -120px 0px -160px;
}

.title_box {
	all: unset;
	margin: 10px 0px -35px 0px;
}

.music_player_bar {
	all: unset;
	background-color: #1c1e26;
	margin: 50px 0px 0px 0px;
}

.music_player_bar scale trough{
	all: unset;
	background-color: #d2d4de;
	min-width: 200px;
	min-height: 20px;
	margin: 8px 20px 10px 20px;
	border-radius: 9px;
}

.music_player_bar scale trough highlight {
	all: unset;
	border-radius: 8px;
	background-color: #6bdfe6;
	opacity: 1;
}

.music_player_buttons button {
	all: unset;
	font-family: "TerminessTTF Nerd Font";
	font-size: 35px;
	color: #1c1e26;
	background-color: #27d796;
	min-width: 50px;
	min-height: 50px;	
	border-radius: 8px;
}

.music_player_buttons button:hover {
	background-color: #09f7a0;
}
