// Start from scratch
* {
	all: unset;
}

.background {
	all: unset;
	background-color:	#121212;
	color: #121212;
	padding: 10px;
	opacity: 0.9;
}

.album_cover {
	all: unset;
	margin:  0px 40px 0px -40px;
}

.main_box{
	all: unset;
	//background-color: #121212;
	color: #d3d4de;
	min-width: 350px;
	font-size: 18px;
	font-weight: bold;
	margin: 0px -120px 20px -200px;
}

.title_box {
	all: unset;
	margin: 10px 0px -30px 0px;
}

.music_player_bar {
	all: unset;
	background-color: #121212;
	margin: 50px 0px 0px 0px;
}

.music_player_bar progressbar trough{
	all: unset;
	background-color: #d2d4de;
	min-width: 200px;
	min-height: 20px;
	margin: 0px 30px 10px 30px;
	border-radius: 9px;
}

.music_player_bar progressbar trough progress {
	all: unset;
	border-radius: 9px;
	min-width: 5px;
	min-height: 20px;
	background-color: #CF6679;
	opacity: 1;
}

.music_player_buttons button {
	all: unset;
	font-family: "TerminessTTF Nerd Font";
	font-size: 32px;
	color: #1c1e26;
	background-color: #BB86Fc;
	min-width: 55px;
	min-height: 55px;	
	border-radius: 8px;
}

.music_player_buttons button:hover {
	background-color: #FF86FC;
}

